body {
  font-family: 'Poppins', sans-serif;
  --bg-color: #833dfc;
  --dot-color: #ffffff;
  --dot-size: 4px;
  --dot-space: 22px;
  background:
    linear-gradient(90deg, var(--dot-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center,
    linear-gradient(var(--dot-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center,
    var(--bg-color);
  background-size: var(--dot-space) var(--dot-space);
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

body.dark-mode {
  --bg-color: #a799cc;
  --dot-color: #1c1c1c;
  --dot-size: 1px;
  --dot-space: 22px;
  background:
    linear-gradient(90deg, var(--dot-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center,
    linear-gradient(var(--dot-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center,
    var(--bg-color);
  background-size: var(--dot-space) var(--dot-space);
  background-color: #6a6a6a;
  color: #333;
}


.navbar {
  background: linear-gradient(to right, #6852ce, #6852ce);
  color: #fff;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.398);
  position: relative;
  z-index: 1;
}

.navbar a {
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
  position: relative;
}

.navbar a::before {
  content: '';
  position: absolute;
  width: 102%;
  height: 28px;
  border-radius: 1px;
  background-color: #1C1C1C;
  bottom: 1px;
  left: -2px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  z-index: -1;
}

.navbar a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}



.beta-text {
  font-weight: 300;
  margin-left: 5px;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.nav-right {
  float: right;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.response-container {
  height: 58vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1em;
  position: relative;
}

#input-text {
  width: 100%;
  height: 2em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1em;
  resize: none;
  overflow: auto;
}

#input-text:focus {
  outline: none;
  border: 1px solid #6852ce;
  box-shadow: 0 0 3px #000;
}

.api-selector-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  margin-right: -30px;
}

button {
  background: linear-gradient(to right, #6852ce, #6852ce);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.4rem 0.8rem;
  margin-left: 1px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
}

button:hover {
  border: 2px solid white; 

}

select {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #6852ce, #6852ce);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  border: 2px solid transparent;
}

select:hover {
  border: 2px solid white; 
}

.response {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  max-width: 100%;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.409);
  position: relative;
  padding-left: 40px;
}

.response::before {
  content: "Y";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5c5ad7;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
}

.genie-response::before {
  content: "G";
  background-color: #ffffff;
  color: #5c5ad7;
}

.genie-response {
  background: linear-gradient(to right, #6852ce, #6852ce);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.409);
  color: #fff;
}

.conversation-element {
  width: 100%;
}

.response.error-response {
  background-color: #dd1515;
  color: #eeeeee;
}

.dark-mode-toggle {
  width: 50px;
  height: 25px;
  cursor: pointer;
  border-radius: 25px;
  background-color: #f4f4f4;
  transition: all 0.5s ease;
  position: relative;
  margin-top: 5px;
}

.dark-mode-toggle::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #1C1C1C;
  transition: all 0.5s ease;
}

.dark-mode-toggle.dark {
  background-color: #1C1C1C;
}

.dark-mode-toggle.dark::before {
  left: 27px;
  background-color: #f4f4f4;
}

footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 10px;
  color: #2aa391;
}

.footer-line {
  border: 0;
  height: 0px;
  background-color: #fff;
  margin-bottom: -10px;
}

.footer-link {
  color: #333;
  text-decoration: none;
}

.footer-link:hover {
  color: #6852ce;
}

body.dark-mode .footer-link {
  color: #f4f4f4;
}

body.dark-mode .footer-link:hover {
  color: #6852ce;
}

.code-block-container {
  position: relative;
  display: inline-block;
  width: 95%;
}

.code-block {
  color: #fff;
  background-color: #181818;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  white-space: pre-wrap;
  font-family: 'Source Code Pro', monospace;
  font-size: 13px;
  overflow: auto;
  max-height: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 95%;
  position: relative; 
}

.copy-code-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  background: #6952CE;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  align-items: center;
}

.copy-code-button:hover {
  border: 2px solid #fff; 
  background: #6952CE;
  color: #fff;
}

.user-response {
  background-color: #f0f0f0;
}

.genie-response {
  background-color: #cbcbcb;
}

body.dark-mode .response {
  background-color: #1C1C1C;
}

body.dark-mode .user-response {
  background-color: #333;
}

body.dark-mode .genie-response {
  background-color: #202020;
}

body.dark-mode .response-container {
  background-color: #1C1C1C;
  color: #f4f4f4;
}

body.dark-mode #input-text {
  background-color: #1C1C1C;
  color: #f4f4f4;
}

body.dark-mode .code-block {
  background-color: #1C1C1C;
  color: #fff;
}

.dark-mode .response-container .response.error-response {
  background-color: #dd1515;
  color: #f3f3f3;
}

@media (max-width: 900px) {
  .navbar a {
    font-size: 22px;
  }

  .beta-text {
    font-size: 10px;
  }

  .nav-right {
    padding-right: 8px;
  }

  .dark-mode-toggle {
    right: 0.5rem;
  }

  select {
    right: 90px;
  }

  .container {
    padding: 0.5rem;
  }

  .response {
    max-width: calc(100% - 1rem);
  }

  .response-container {
    height: 400px;
    max-width: calc(100% - 1rem);
  }

  .input-container {
    width: 100%;
  }
}

@media (max-width: 428px) {
  .response-container {
    height: 450px;
    max-width: calc(100% - 2rem);
    font-size: 16px;
  }

  .code-block {
    font-size: 10px;
  }

  .input-container {
    max-width: calc(100% - 2rem);
  }

  #input-text {
    font-size: 14px;
  }

  button,
  select {
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
  }
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #1f1f1f; 
}

::-webkit-scrollbar-thumb {
  background: #6852ce;
}

.beta-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.beta-content {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #1C1C1C;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 2px solid #6852ce;
}

.beta-content p {
  margin: 0 0 10px;
}

.beta-content button {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: #6852ce;
  color: #fff;
  border: none;
  padding: 3px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid transparent;
}

.beta-content button:hover {
  border: 2px solid white; 
}


#apply-temperature {
  background: linear-gradient(to right, #6852ce, #6852ce);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.4rem 0.8rem;
  margin-left: 1px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
}


button:hover,
select:hover,
#apply-temperature:hover {
  border: 2px solid white;
}


.temperature-slider {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

#temperature {
  width: 150px;
  margin-right: 10px;
}

#temperature-value {
  margin-top: -50px;
}


#apply-temperature::before {
  content: " \f2c6 "; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 0.4rem 0.8rem;
  margin-left: 1px;
  margin-right: 10px;
  border-radius: 5px;
}

.popup {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  position: absolute;
  background-color: #1C1C1C;
  padding: 10px;
  border: 1px solid #ccc;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1; 
  width: 355px; 
  left: 0; 
  top: auto; 
  bottom: 100%; 
  transform: translateY(57px); 
}
.popup-content {
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

.popup button {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.small-button {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #6852ce;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.small-button:hover {
  border: 2px solid white;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 75%;
  height: 10px;
  background: #6852ce;
  outline: none;
  border-radius: 5px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #443684;
  border-radius: 50%;
  cursor: pointer;
  border-color: #1C1C1C;
}

#temperature-popup {
  display: none;
}

#close-popup {
  position: absolute;
  scale: 2.5;
  top: 0;
  left: 5px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

#close-popup:hover {
  color: #6852ce;
}
