body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

body.dark-mode {
  background-color: #1c1c1c;
  color: #f4f4f4;
}

.navbar {
  background: linear-gradient(to right, #5c5ad7, #5c5ad7);
  color: #fff;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar a {
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
}

.beta-text {
  font-weight: 300;
  margin-left: 5px;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.nav-right {
  float: right;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.response-container {
  height: 58vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1em;
  position: relative;
}

#input-text {
  width: 100%;
  height: 2em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1em;
  resize: none;
  overflow: auto;
}

#input-text:focus {
  outline: none;
  border: 1px solid #760cda;
  box-shadow: 0 0 3px #000;
}

.api-selector-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

button {
  background: linear-gradient(to right, #5c5ad7, #4142d8);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.4rem 1.5rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
  background: linear-gradient(to right, #4142d8, #5c5ad7);
  background-color: #4580d6;
}

select {
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(to right, #5c5ad7, #4142d8);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

select:hover {
  background: linear-gradient(to right, #4142d8, #5c5ad7);
  background-color: #4580d6;
}

.response {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  max-width: 100%;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative; /* Add position relative for badges */
  padding-left: 40px; /* Add padding for badges */
}

.response::before {
  content: "Y";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5c5ad7;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
}

.genie-response::before {
  content: "G";
  background-color: #ffffff;
  color: #5c5ad7;
}

.genie-response {
  background: linear-gradient(to right, #5c5ad7, #4142d8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.conversation-element {
  width: 100%;
}

.response.error-response {
  background-color: #dd1515;
  color: #eeeeee;
}

.dark-mode-toggle {
  width: 50px;
  height: 25px;
  cursor: pointer;
  border-radius: 25px;
  background-color: #f4f4f4;
  transition: all 0.5s ease;
  position: relative;
}

.dark-mode-toggle::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #333;
  transition: all 0.5s ease;
}

.dark-mode-toggle.dark {
  background-color: #333;
}

.dark-mode-toggle.dark::before {
  left: 27px;
  background-color: #f4f4f4;
}

footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 10px;
  color: #2aa391;
}

.footer-line {
  border: 0;
  height: 0px;
  background-color: #fff;
  margin-bottom: 0.5rem;
}

.footer-link {
  color: #333;
  text-decoration: none;
}

.footer-link:hover {
  color: #181818;
}

body.dark-mode .footer-link {
  color: #f4f4f4;
}

body.dark-mode .footer-link:hover {
  color: #ccc;
}

.code-block-container {
  position: relative;
  display: inline-block;
}

.code-block {
  color: #181818;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  white-space: pre-wrap;
  font-family: monospace;
  overflow: auto;
  max-height: 10em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.copy-code-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #eaebec;
  color: #5b5ad6;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.copy-code-button:hover {
  background: linear-gradient(to right, #ffffff, #ffffff);
}

.user-response {
  background-color: #f0f0f0;
}

.genie-response {
  background-color: #cbcbcb;
}

body.dark-mode .response {
  background-color: #444;
}

body.dark-mode .user-response {
  background-color: #333;
}

body.dark-mode .genie-response {
  background-color: #202020;
}

body.dark-mode .response-container {
  background-color: #444;
  color: #f4f4f4;
}

body.dark-mode #input-text {
  background-color: #444;
  color: #f4f4f4;
}

body.dark-mode .code-block {
  background-color: #333;
  color: #fff;
}

.dark-mode .response-container .response.error-response {
  background-color: #dd1515;
  color: #f3f3f3;
}

@media (max-width: 900px) {
  .navbar a {
    font-size: 22px;
  }

  .beta-text {
    font-size: 12px;
  }

  .nav-right {
    padding-right: 8px;
  }

  .dark-mode-toggle {
    right: 0.5rem;
  }

  select {
    right: 90px;
  }

  .container {
    padding: 0.5rem;
  }

  .response {
    max-width: calc(100% - 1rem);
  }

  .response-container {
    height: 400px;
    max-width: calc(100% - 1rem);
  }

  .input-container {
    width: 100%;
  }
}

@media (max-width: 428px) {
  .response-container {
    height: 450px;
    max-width: calc(100% - 2rem);
    font-size: 16px;
  }

  .input-container {
    max-width: calc(100% - 2rem);
  }

  #input-text {
    font-size: 14px;
  }

  button,
  select {
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
  }
}
